.top-banner{
  background-color:#c8cdda;
  padding:2%;
  text-align: center;
  font-size: 350%;
}

.top-banner p{
  font-weight: 300;
}

main{
  background-color:#c8cdda;
}

.subpage-content{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.grid-housing{
  display: grid;
  padding: 5%;
  border-style: ridge;
  background-color: rgba(254, 255, 255, 0.795);
  grid-template-columns: 70% 30%;
}

.grid-info{
  padding: 3%;
}

.grid-mugshot img{
  padding: 3%;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.created-by-text-footer{
  color: #000;
}