main {
    font-family: "Ubuntu";
}

.navbar li{
    font-size: 2em;
    padding-right: 10px;
}

.navbar img {
    width: 80%;
    height: 80%;
}

.bg-light-dark {
    Background-color: rgb(201, 209, 223) ; 
}

.title {
    text-align: center;
}

#desktop dl, h3 {
    padding-left: 5%;
}
#desktop img  {
    display: none;
}

#desktop ul{
    list-style-type: none;
}

#desktop {
    text-align: center;
    font-size: 1.5em;
}

#desktop h2 {
    padding-left: 5%;
}

#desktop p {
    padding-left: 5%;
}

#desktop li {
    margin-left: 3%;
}

/* Tablet Display up to desktop */
@media (min-width: 768px) {  

    #desktop {
        text-align: unset;
        font-size: 1.5em;
    }

    #desktop ul {
        list-style-type: disc;
    }

    #desktop img {
        display: block;
        padding-right: 3%;
        padding-bottom: 3%;
    }

}
