.navbar li{
    font-size: 2em;
    padding-right: 10px;
}

.navbar img {
    width: 80%;
    height: 80%;
}




.carousel-image{
    height: 50vh;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}



.index-welcome, .index-welcome h3{
    text-align: center;
    font-family: "Ubuntu";
    font-size: 1.5em;
    font-weight: bold;
    background-color:azure;
}

/* Styles for contact us page -------------------------*/

.form-title  {
    Text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.form  {
    display: block;
    padding: 0.5%;
    width: 60%;
    margin: auto auto auto auto;
}


/* Style Rules for Index.html ------------------------*/
.index-welcome{
    background-color: rgba(210, 215, 225, 0.75);
    padding-top: 2%;
    padding-bottom: 2%;
}

.whitespace{
    background-color: #fff;
    padding: 2.5%;
}

/* Main Photo Grid Style */
.photo-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.main-grid-object{
    text-align: center;
    font-family: "Ubuntu:";
}

.main-grid-object:first-child{
    margin-left: 30%;
}

.main-grid-object:last-child{
    margin-right: 30%;
}

.main-grid-object img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.main-grid-object img:hover{
    transform: scale(105%);
    box-shadow: 5px 5px 10px #000;
}

.main-grid-captions{
    font-size: 3em;
    text-align: center;
    font-family: "Ubuntu";
    color: rgb(2, 12, 26, 0.85);
}

/* Index Content */
.index-main-content{
    display: block;
}

.index-content-header{ 
    background-color: rgba(210, 215, 225, 0.75);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
}

/* OFFICE */
.index-office-content{
    padding: 0;
}

.office-content-text{
    padding: 0;
}

.office-content-vid{
    padding: 0;
}

/* GAMING */
.index-gaming-content{
    padding: 0;
}

.gaming-content-text{
    padding: 0;
}

.gaming-content-vid{
    padding: 0;
}

/* STUDENT */
.index-student-content{
    padding: 0;
}

.student-content-text{
    padding: 0;
}

.student-content-vid{
    padding: 0;
}




