.navbar li{
    font-size: 2em;
    padding-right: 10px;
}

.navbar img {
    width: 50%;
    height: 50%;
}




.carousel-image{
    height: 50vh;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}




.subpage-biography-brayden{
    display: block;
    text-align: center;
}
